<nav>
 <div class="nav-wrapper color blue">
   <a href="#" class="brand-logo center"></a>
   <a href="#" class="brand-logo">Tweet4Trump</a>
   <ul id="nav-mobile" class="right hide-on-med-and-down">
     <%= link_to "Logout", logout_path %>
   </ul>
 </div>
</nav>

<div class="">

  <% if current_user %>
   <%= @user.description %><br>
  <br><br>


    <div class="container">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="<%= @user.image %>" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <%= @user.name %><br>
                My followers count:<%= @user.followers_count %><br>
                My friends count: <%= @user.friends_count %><br>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
          <%= f.text_field :message %>
          <%= f.submit "Tweet", class: 'blue' %>
        <% end %>
      </div>

<div class="container">



<div class="container">

<div class="card-content white-text">
  <span class="card-title">My Tweets</span>
  <ul><% @twitter_data.client.user_timeline.take(5).each do |tweet| %>
    <li>
      <div class="card black-text">
      <%= tweet.text %>
      <%= button_to "Favorite", tweet_path(tweet.id), method: :put, class: 'blue' %>
      <%= tweet.favorite_count %>
    </div>
    </li>
    <% end %>
  </ul>
</div>


    </div>

<% else %>

<div class="center">
 <%= link_to "Login", login_path %>
 </div>

<% end %>
